services:
  swesmith:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - .:/home/sweuser/swesmith
      - ${GITHUB_USER_SSH_KEY:-/dev/null}:/home/sweuser/.ssh/github_key:ro
    group_add:
      - ${DOCKER_GID:-999}
    env_file:
      - .env
    stdin_open: true
    tty: true
